body {
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(0, 5, 7);
    background-color: rgb(243, 251, 252);
    margin: 15px;
    
}
h1 {
    font-family: Georgia;
    color: #070707;
    text-align: center;
    background: url(../Make-A-Cheatsheet/HTML-Basic.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
    opacity: 0.4;
  }

  h1 {
    font-size: 5em;
    margin-block-start: 20px;
    margin-block-end: 20px;
    color: rgb(0, 7, 10);
    text-align: center;
    opacity: .6;
}

.topic {
    border: rgb(0, 6, 8);
    background-color: rgb(243, 251, 252);
    padding: 20px;
    margin: 5px;
}

h2 {
    padding: 20px;
    margin: 10px;
}

#html_tags, #html_forms, #html_tables, #css_style {
    color: rgb(0, 4, 5);;
    background-color: rgb(243, 251, 252);
    padding: 20px;
    margin: 10px;
}

p, nav, a, h3 {
    margin: 10px;
}

table {
    text-align: left;
    margin-left: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    padding: 20px;
}

td {
    border: 2px solid  rgb(90, 163, 192);
    padding-right: 5px;
}

.rowspanbottom {
    border-bottom:  rgb(90, 163, 192);
}
.rowspan {
    border-top:  rgb(90, 163, 192);
    border-bottom:  rgb(90, 163, 192);
}
.rowspantop {
    border-top: rgb(90, 163, 192);
};

thead {
    background-color: rgb(144, 70, 167);
}